<div>
<h1>About Easync</h1>
	<div>The idea for Easync came from its developers discussing the next time they could meet. 
    A bit problematic, no one seemed to be able to come up with the perfect date and time.
    "Wait, there should be an app for that!", they thought, and set out to create the perfect group scheduling application.
  </div>
<h2>Easync redefining the way you connect.</h2>
<h1>The Crayala Team</h1>
<h2>Databases</h2>
<ul class="img-list">
  <li>
    <a href="http://ericsmithrocks.com">
      <img src="/images/eric.jpg" width="150" height="150" />
      <span class="img-content"><span>Tendies</span></span>
    </a>
  </li>
  <li>
    <a href="http://alpacas.com">
      <img src="/images/chris.jpg" width="150" height="150" />
      <span class="img-content"><span>Git Jesus</span></span>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=uRPKbAj4cuQ">
      <img src="/images/jayce.jpg" width="150" height="150" />
      <span class="img-content"><span>J-ICE</span></span>
    </a>
  </li>
  
</ul>
<h2>GUI</h2>
<ul class="img-list">
  <li>
    <a href="https://twitter.com/cakeslap">
      <img src="/images/gavin.jpg" width="150" height="150" />
      <span class="img-content"><span>Even dreams have seams</span></span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/mdzingo">
      <img src="/images/morgan.png" width="150" height="150" />
      <span class="img-content"><span>If I could major in Alpacas I would</span></span>
    </a>
  </li>
  <li>
    <a href="http://jorgev.me">
      <img src="/images/jorge.jpg" width="150" height="150" />
      <span class="img-content"><span>I do great shit.</span></span>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/samwhunter">
      <img src="/images/sam.png" width="150" height="150" />
      <span class="img-content"><span>Do it for Bub.</span></span>
    </a>
  </li>
  
</ul>
</div>

<style>

</style>