<div>
<h1>About Easync</h1>
	<div>Easync was created to help it's users find meeting times for a group as efficiently as possible. Something about picking time. Something about saving groups.  </div>
<h2>Easync redefining the way you connect.</h2>
<h1>The Crayala Team</h1>
<h2>Databases</h2>
<ul class="img-list">
  <li>
    <a href="http://ericsmithrocks.com">
      <img src="/images/eric.jpg" width="150" height="150" />
      <span class="text-content"><span>Tendies</span></span>
    </a>
  </li>
  <li>
    <a href="http://alpacas.com">
      <img src="/images/chris.jpg" width="150" height="150" />
      <span class="text-content"><span>Git Jesus</span></span>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=uRPKbAj4cuQ">
      <img src="/images/jayce.jpg" width="150" height="150" />
      <span class="text-content"><span>J-ICE</span></span>
    </a>
  </li>
  
</ul>
<h2>GUI</h2>
<ul class="img-list">
  <li>
    <a href="https://twitter.com/cakeslap">
      <img src="/images/gavin.jpg" width="150" height="150" />
      <span class="text-content"><span>Even dreams have seams</span></span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/mdzingo">
      <img src="/images/morgan.png" width="150" height="150" />
      <span class="text-content"><span>If I could major in Alpacas I would</span></span>
    </a>
  </li>
  <li>
    <a href="http://jorgev.me">
      <img src="/images/jorge.jpg" width="150" height="150" />
      <span class="text-content"><span>I do great shit.</span></span>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/samwhunter">
      <img src="/images/sam.png" width="150" height="150" />
      <span class="text-content"><span>Do it for Bub.</span></span>
    </a>
  </li>
  
</ul>
</div>

<style>
h1,h2{
	 text-align: center;
}
div{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
</style>