<div>
	<h1>Devolpment Process</h1>
		<div>
		The initial vision of our project was as such: the ability to put
		multiple phones close together and have our application produce
		the ideal time for our users to meet. 
		</div>

	<h2>Features</h2>
		<div>
		Most of what we set out to accomplish made its way into our application. 
		</div>

		<div>What was cut:</div>
		<ul class="img-list">
			<li>Traditional Group functionality</li>
			<li>Google Hangouts integration</li>
			<li>Note-taking features</li>
			<li>Meeting Timers</li>
		</ul>

		<div>What made it:</div>
		<ul class="img-list">
			<li>Google Calendar integration</li>
			<li>Google login</li>
			<li>Custom login</li>
			<li>Ideal meeting algorithm</li>
			<li>Group aliasing</li>
			<li>Nearby meeting token</li>
			<li>Email confirmation</li>
		</ul>

	<h2>Initial Designs</h2>
		<img src="/images/proto1.png" />
		<img src="/images/proto2.png" />
		<img src="/images/proto3.png" />
		<img src="/images/proto4.png" />

	<h2>Hurdles</h2>
	<div>
		Our team worked surprisingly well together, but that's not to say there weren't challenges to overcome. Most problems arose from communication and an inability to 
		express our personal desires for the project. Several times we had to get together 
		and reiterate the team's goals.
		<br><br>
		There definitely were some technical hurdles as well. Here's some things that gave
		us the most headache:
		<ul class="img-list">
			<li>Google OAuth 2</li>
			<li>Android Studio</li>
			<li>Formatting dates</li>
			<li>Doing time calculations</li>
		</ul>
	</div>
	
	<h2>Wishlist</h2>
	<div>We got most of what we wanted, but here's some things we'd like to see in v2.0:</div>
	<ul class="img-list">
		<li>Google Nearby API</li>
		<li>A visual calendar</li>
		<li>Microsoft and Apple Calendar integration</li>
		<li>Multiple calendars for each person</li>
	</ul>
</div>