<div>
	<h1>Development Process</h1>
		<div>
		The original vision for our product was to schedule, organize, and manage meetings in real time.
		</div>

	<h2>Features</h2>
		<div>
			Most of what we set out to accomplish made its way into our application. 
		</div>
		<br>
		<br>
		<h4>What was cut</h4>
		<ul class="devPro">
			<li>Traditional Group functionality</li>
			<li>Google Hangouts integration</li>
			<li>Note-taking features</li>
			<li>Meeting Timers</li>
		</ul>
		
		<br>
		<h4>What made it</h4>
		<ul class="devPro">
			<li>Google Calendar integration</li>
			<li>Google login</li>
			<li>Custom login</li>
			<li>Ideal meeting algorithm</li>
			<li>Group aliasing</li>
			<li>Nearby meeting token</li>
			<li>Email confirmation</li>
		</ul>
		

	<h2>Initial Designs</h2>
	
		<img src="/images/proto1.png" width="250" height="250"/>
		<img src="/images/proto2.png" width="250" height="250"/><br>
		<img src="/images/proto3.png" width="250" height="250"/>
		<img src="/images/proto4.png" width="250" height="250"/>
	
	<h2>Hurdles</h2>
	<div>
		Our team worked surprisingly well together, but that's not to say there weren't challenges to overcome. Most problems arose from communication and an inability to 
		express our personal desires for the project. Several times we had to get together 
		and reiterate the team's goals.
		<br><br>
		There definitely were some technical hurdles as well. These were some of the things our team found to be the most difficult.

		<ul class="devPro">
			<li>Google OAuth 2</li>
			<li>Android Studio</li>
			<li>Formatting dates</li>
			<li>Doing time calculations</li>
		</ul>
	</div>
	
	<h2>Wishlist</h2>
	<div>We got most of what we wanted, but here's some things we'd like to see in v2.0:</div>
	<ul class="devPro">
		<li>Google Nearby API</li>
		<li>A visual calendar</li>
		<li>Microsoft and Apple Calendar integration</li>
		<li>Multiple calendars for each person</li>
	</ul>
</div>

<style>


h1, h4{
	color:#FF5252;
	text-align:center;
}

img{
	width:250;
	height:250;
	margin:25px;
}
li{
	margin-left:-30px;
}

.devPro {
	text-decoration: none;
	list-style-type: none;
	text-align: center;

}
</style>
