<div class="row marketing">

<div class="col-md-8 log-in-cal">
  <time datetime="2014-09-20" class="icon">
    <em><span class="glyphicon glyphicon-ok color" aria-hidden="true" ></span></em>
    <strong>Log In</strong>
  </time>
</div>

<div class="col-md-4">
    <div ng-init="check_cookies()" ng-controller="LoginCtrl">
      <form name="loginform" class="css-form" >
        <input type="email" ng-model="email" placeholder="Email" id="emLog"><br>
        <input type="password" ng-model="pass" placeholder="Password" id="passLog"><br>
        <input type="submit" value="Log In" ng-click="login(email, pass)">
      </form>

      <div id="googlesignin">
        <p><h2> OR sign in with google </h2></p>
        <div id="my-signin2"></div>
        <a onclick="signout_google()">Sign out of google</a>
      </div>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'https://www.googleapis.com/auth/plus.login',
        'width': 200,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
    function signout_google() {
    	var auth2 = gapi.auth2.getAuthInstance();
    	auth2.signOut().then(function () {
      		console.log('User signed out.');
    	});
  	}
</script>

<style>
	h2 {
		text-align: center;
	}

	#googlesignin {
		text-align: center;
	}

	#my-signin2 > div {
		width: 250px;
		margin: 0 auto;
	}
  #emLog, #passLog{
    width:250px;
    margin: 10px;
    height:30px;
  }
  #btn {
    width: 250px;
    margin: 10px;
    height:30px;
  }
  input {
    width: 250px;
    margin:10px;
    height:30px;
  }

</style>
