<div  ng-init="check_cookies()" class="row circleButtons">
  <div class="col-md-4">
    <a ng-href="#/newmeeting"><div class="round-button">New Meeting<br><span class="glyphicon glyphicon-plus"></span></div></a>
  </div>

  <div class="col-md-4">
    <a ng-href="#/scheduled"><div class="round-button"><br>Scheduled<br> <span class="glyphicon glyphicon-calendar"></span></div></a>
  </div>
  
  <div class="col-md-4">
    <a ng-href="#/groups"><div class="round-button"><br>Groups<br><span class="glyphicon glyphicon-glass"></span></div></a>
  </div>
</div>


<style>
  .row a {
    margin: auto;
    display: table;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .circleButtons {
    margin-top: 80px;
  }

  .navbar {
    margin-bottom: 0px;
  }
</style>

