<div  ng-init="check_cookies()" class="row circleButtons">

<ul class="img-list">
  <li class="round-button">
    <a ng-href="#/newmeeting">
    <span class="glyphicon glyphicon-plus main-icon"></span><span class="text-content"><p>New Meeting</p></span></span>
    </a>
  </li>
  <li class="round-button">
    <a ng-href="#/scheduled">
     <span class="glyphicon glyphicon-calendar main-icon"></span><span class="text-content"><p>Scheduled</p></span>
    </a>
  </li>
  <li class="round-button">
    <a ng-href="#/groups">
      <span class="glyphicon glyphicon-glass main-icon"></span><span class="text-content"><p>Groups</p></span>
    </a>
  </li>
  </ul>
 </div>


<script>
var $x = $('.round-button > a > span.text-content > p');
$x.each(function(){
  var pad = (200 - $(this).height())/2;
  $(this).css('padding-top',pad);
});
var y = $('.round-button > a > span.glyphicon');
y.each(function(){
  var pad2 = (200 - $(this).height())/2;
  $(this).css('padding-top',pad2);
});

</script>



