<div  class="container" ng-controller="NewMeetingCtrl as newmeeting">
	<h1>Schedule a New Meeting</h1>
	<div class="row text-center" id="attendees">
		<h3> Attendees </h3>
		<div class="col-md-3" ng-model="attendees"> 
			<p>Currently Selected</p> 
				<p ng-repeat="x in attendees.emails" ng-click="removefromattendees(x)">
					{{ x|attendeesValue }}
				</p>
				<p ng-repeat="x in attendees.users" ng-click="removefromattendees(x)">
					{{ x|attendeesValue }}
				</p>
				<p ng-repeat="x in attendees.groups" ng-click="removefromattendees(x)">
					{{ x|attendeesValue }}
				</p>
		</div>
		<div class="col-md-3">Near Me</div>
		<div class="col-md-3" ng-init="loadcontacts()" ng-model="usercontacts">
			<p>Add Contact</p>
			<p ng-repeat="x in usercontacts" ng-click="addcontacttoattendees(x)">
				{{ x.name }}
			</p>
		</div>
		<div class="col-md-3" ng-model="usercontacts" ng-init="loadgroups()">
			<p>Add Group</p>
			<p ng-repeat="x in groups" ng-click="addgrouptoattendees(x)">
				{{ x.groupname }}
			</p>
		</div>
	</div>
	<div class="row text-center" id="addattendees">
		<button class="btn btn-success" onclick="toggleEmailField()">Add Attendees by Email</button><br>
		<span id="addbyemailslide">
			<input ng-model="attendeeemail" type="email"> <span ng-click="addemailattendee(attendeeemail)" class="glyphicon glyphicon-plus-sign"></span>
		</span>
	</div>

	<div class="row text-center" id="datetimeconstraints">
		<h3> Date and Time Constraints</h3>
		<form name="datetimeform">
			From <input name="fromdate" type="date" ng-model="constraints.start_date">
			To <input name="todate" type="date" ng-model="constraints.end_date"><br>
			<span class="error" ng-show="constraints.start_date > constraints.end_date">
				End date must be greater or same as start date
			</span><br>
			After <input name="aftertime" type="time" ng-model="constraints.start_time">
			Before <input name="beforetime" type="time" ng-model="constraints.end_time"><br>
			<span class="error" ng-show="constraints.start_time >= constraints.end_time">
				End time must be greater as start time
			</span><br>
			Length <select name="duration" ng-model="constraints.duration">
				<option value="15"> 15 Minutes</option>
				<option value="30"> 30 Minutes</option>
				<option value="45"> 45 Minutes</option>
				<option value="60"> 1 Hour</option>
				<option value="120"> 2 Hours</option>
			</select>
			<label for="required">Attendance Required</label><input type="checkbox" name="required" id="required" ng-model="constraints.required"> 
		</form>

		<button class="btn btn-info" ng-show="validateconstraintfields() === false" disabled>Find Possible Meeting Times</button>
		<button class="btn btn-info" ng-show="validateconstraintfields() === true" ng-click="findmeetingtimes(constraints, attendees)">Find Possible Meeting Times</button>
	</div>

	<div class="row text-center" id="possibletimes" ng-show="possibletimes_bool">
		<h3> Possible Times</h3>
	</div>
</div>

<script>
function toggleEmailField() {
	var inputarea = document.getElementById("addbyemailslide");
	if ($(inputarea).css('display') === 'none') 
		$(inputarea).slideDown();
	else 
		$(inputarea).slideUp();
}
</script>

<style>
	h1 {
		text-align: center;
	}

	select {
		margin-right: 10px;
	}

	input, select {
		margin-top: 20px;
	}

	div div.row {
		margin-top: 20px;
		padding-bottom: 15px;
	}

	#addattendees {
		margin-top: 0px;
	}


	#attendees, #addattendees {
		background-color: lightblue;
	}

	#datetimeconstraints {
		background-color: lightgreen;
	}

	#possibletimes {
		background-color: lightblue;
	}

	#addbyemailslide {
		display: none;
	}
	
	button {
		margin: auto;
		display: table;
		margin-top: 30px;
	}
</style>