<div>
	<h1>Technical Overview</h1>
	<div>
	Our team set out to create the perfect group scheduling application:
	one that could take the schedules of multiple members and produce 
	ideal meeting times for everyone.
	</div>

	<h2>Target Audience</h2>
	<div>
		Easync is for the busy individual who needs an easier way to colaborate with 
		groups. Professional or personal, it's aimed at the kind of person that may be 
		unable to answer the question "When can we meet again?"
	</div>

	<h2>Project Requirements</h2>
	<div>These are some things we felt were absolutely necessary to include in the project.</div>
	
	<ul class="techOver">
		<li>Google Calendar integration</li>
		<li>Ideal meeting algorithm</li>
		<li>Group collaboration</li>
	</ul>
	</div>


	<h2>Technical Implementation</h2>
	<div class="col-md-4">
	<h4>Data Access Layer</h4>
	<ul class="techOver">
		<li>Ubuntu Server</li>
		<li>MySQL Server</li>
	</ul>
	</div>
	<div class="col-md-4">
	<h4>Web Service/REST API</h4>
	<ul class="techOver">
		<li>PHP</li>
		<li>Apache</li>
		<li>Ubuntu Server</li>
	</ul>
	</div>
	<div class="col-md-4">
	<h4>Presentation Layer</h4>
	<ul class="techOver">
		<li>Angular.js</li>
		<li>Grunt</li>
		<li>Bootstrap</li>
		<li>jQuery</li>
	</ul>
	</div>
	<h2>Database</h2>
	<div>Here's an ER diagram of our database:</div>
	<img src="/images/ER_Diagram.png" width="700px" height="400px">

	<h2><a href="http://easync.com/public/Documentation/class-Binding.html">API Documentation</a></h2>
	


</div>
