body {
  background-color: #F9F9F9;
}

div{
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.btn {
    width: 200px;
    height: 40px;
}
/*groups */
    .hoverTable{
    width:100%; 
    border-collapse:collapse; 
  }
  .hoverTable td{ 
    padding:7px; border:#4e95f4 1px solid;
  }
  /* Define the default color for all the table rows */
  .hoverTable tr{
    background: #b8d1f3;
  }
  /* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: #ffff99;
 }

  h2 {
    text-align: center;
    font-weight: 300;
    color:#1B998B;
    padding-top: 50px;
  }
    th, td, h3 {
        font-weight: bold;
        color:#4C5B5C;
    }


    #grouplisttable td {
        text-align: center;
    }

    .row-centered {
        text-align:center;
    }

    .col-centered {
        vertical-align: top;
        display:inline-block;
        float:none;
        text-align:left;
        margin-right:-4px;
    }
/*end groups*/
/* Settings*/
  .contactsCol {
    padding-top: 30px;
    padding-bottom: 30px;
    height:250px;
  }

  .addCalCol {
    padding-top: 30px;
    padding-bottom: 30px;
    height:250px;
  }

  .add-contact {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    margin-bottom: 10px;
  }

  .alert-danger {
    width:300px;
    margin-left: auto;
    margin-right: auto;
  }
  /* end settings */
.loginregrow {
  margin-top: 5%;
  margin-left: 6%;
  margin-right: 6%;
}

#main-col-1 {
  text-align: center;
  border-right: 1px solid;
}

#main-col-2 {
  text-align: center;
  border-left: 1px solid;
  border-right: 1px solid;
}

#main-col-3 {
  text-align: center;
  border-left: 1px solid;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*this is scheduled things*/
#scheduledMeetings{
  list-style-type:none;
  text-align: center;
  
}
/* main css */
p {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    margin-left:-20px;
    color:#212121;

}
.main-icon{
  font-size: 2em;
  text-align: center;
  color:#212121;
}

.round-button {
    display:block;
    width:220px;
    height:220px;
    border: 10px solid #FF5252;
    border-radius: 100%;
    text-align:center;
    box-shadow: 0 0 3px gray;
    font-size:40px;
    font-weight:bold;
    background-color: #F9F9F9;
    margin: 100px 10px 0px 10px;
}
.round-button:hover {
    background: #F9F9F9;
    z-index: 
}

    

h1,h2{
   text-align: center;
}
div{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

ul.img-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 220px;
  position: relative;
  width: 220px;
}

span.text-content {
  cursor: pointer;
  display: table-cell;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  text-align: center;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  cursor: pointer;
  display: table;
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 220px;
  opacity: 0;
  border-radius:110px;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}


span.text-content {

  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
/*end main */




time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 23em;
  height: 23em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #f9f9f9;
  background-color: #FF5252;
  border-bottom: 1px dashed #F9F9F9;
  box-shadow: 0 2px 0 #FF5252;
  font-size: 2em;
}

time.icon em
{
  position: absolute;
  bottom:2em;
  font-size: 3em;
}

time.icon span
{
  font-size:3em;
  color: #FF5252;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  /*
  padding-left: 15px;
  padding-right: 15px;
  */
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer 
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
*/


/* Supporting marketing content */
.marketing {
  /*
  margin: 40px 0;
  */
}
.marketing p + h4 {
  /*
  margin-top: 28px;
  */
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*
    max-width: 730px;
    */
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    /*
    margin-bottom: 30px;
    */
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.css-form {
  /*
    padding: 20px;
    */
 
}

.css-form input:not([type="submit"]) {
  /*
  margin: 10px 10px 10px 10px;
  */
}

.css-form input[type="submit"] {
  /*
  margin-top:10px;
  */
}

/*style from index*/
.glyphicon-cog {
  font-size: 1em;
  color:#F9F9F9;
}
.navbar-brand {
  font-size: 32px;
  color: #F9F9F9;
}

.navbar {
  height:100px;
  font-size: 28px;
  margin-bottom: 0px;
  background-color: #3F51B5;
  padding-top: 40px;
  color:#F9F9F9;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.wrapper {
  min-height:100%;
  position:relative;
}

.content {
  padding-bottom:60px; /* Height of the footer element */
}

#footerbox {
  margin: 0 auto;
  text-align: center;
  padding-top: 12px;
}

#footerbox > a {
  color: #F9F9F9;
  margin-right:30px;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

.footer {
  background-color: #3F51B5;
  opacity: .85;
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
  left:0;
  color: #F9F9F9;
}

.nav .header-tag{
  color: #F9F9F9;
}
/*end style from index*/
